<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <!-- assembly qualified name:  "{namespace}.{class name}, "{assembly name}"  -->
  <appSettings>
    <add key="configurationRepository"
         value="TimeConverter.DataAccess.ConfigurationRepository,TimeConverter.DataAccess"
         />
    <add key="timeConvertionFunction"
         value="TimeConverter.Domain.Functionality.TimeConvertionFunctions,TimeConverter.Domain"
    />
  </appSettings>
</configuration>
